.product {
    text-align: center;
    background-image: url("http://ak3.picdn.net/shutterstock/videos/16468963/thumb/1.jpg");
    color: white;
    height: 250px;
    margin-bottom: 50px;
}

.carousel-background {
    border-radius: 15px;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 20px;
}

.h-200px {
    height: 200px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.notcurved {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.w-100px {
    width: 100px;
}

.dropdown:hover > .droponhover {
    display: block;
}
